<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta id="viewport" name="viewport" content="width=500">
		<link rel="manifest" href="/aqi-manifest.json">
		<link rel="stylesheet" href="/stylesheets/aqi.css" />
		<link href="//fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700|Metrophobic" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="pulse">
			<div class="aqi">
			  <span class="title">AQI</span>
				<span id="aqi">---</span>
			</div>
			<div class="message">
				Air quality is <span id="category">---</span>
				<span id="message"></span>
			</div>
			<div class="columns">
				<div class="temperature">
			  	<span id="temperature">---</span>&deg;
					<span class="title">Temperature</span>
				</div>
				<div class="pressure">
					<span id="pressure">---</span>
					<span class="title">Pressure</span>
				</div>
				<div class="humidity">
	  			<span id="humidity">---</span>%
					<span class="title">Humidity</span>
				</div>
			</div>
			<div class="lastUpdated">
				<span class="title">Last updated:</span>
				<span id="lastUpdated">---</span>
			</div>
		</div>

		<script type="text/javascript" src="javascript/aqi.js"></script>
	</body>
</html>
