<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title><%= title %></title>
		<meta id="viewport" name="viewport" content="width=500, initial-scale=1">
        <meta name="theme-color" content="#2196F3">
        <meta name="description" content="Mike Pearce is a front-end engineer in san Francisco.">
		<link href="//fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700|Metrophobic" rel="stylesheet" type="text/css">
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.min.css" />
		<link rel="stylesheet" href="/stylesheets/mikepearce.css" />
		<link rel="stylesheet" href="/stylesheets/webicons.css" />
	</head>
	<body>
		<div class="bg-cover"></div>
		<div class="content">
			<h1><%= title %></h1>

			<p>Just monkeying around here&hellip;the more interesting stuff can be found below.</p>

			<div class="links">
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="http://github.com/mikeyroy" title="Github" class="webicon large github"></a>
					</div>
				</span>
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="http://www.linkedin.com/in/mikeyroy/" title="LinkedIn" class="webicon large linkedin"></a>
					</div>
				</span>
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="http://blog.mikepearce.us/" title="Personal Blog" class="webicon large wordpress"></a>
					</div>
				</span>
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="http://twitter.com/mikeyroy" title="Twitter" class="webicon large twitter"></a>
					</div>
				</span>
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="http://plus.google.com/u/0/+mikeyroy/" title="Google+" class="webicon large googleplus"></a>
					</div>
				</span>
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="https://www.goodreads.com/user/show/11199611-mike-pearce" title="GoodReads" class="webicon large goodreads"></a>
					</div>
				</span>
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="http://500px.com/mikeyroy" title="500px" class="webicon large f500px"></a>
					</div>
				</span>
				<span class="hex-shell">
					<svg role="presentation" class="hex">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-border"></use>
					</svg>
					<svg role="presentation" class="hex-inner">
					    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg/hex.svg#hex-inner"></use>
					</svg>
					<div class="hex-center">
						<a href="mailto:contact@mikepearce.us" title="Contact Me" class="webicon large mail"></a>
					</div>
				</span>
			</div>
		</div>

		<script type="text/javascript" src="/javascript/mikepearce.js"></script>
		<script type="text/javascript" src="/javascript/svg4everybody.js"></script>

		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function() {
				MP.initialize();
			});
		</script>
		<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-1322248-1", "mikepearce.us");ga("send", "pageview");</script>
	</body>
</html>
