body {
	font-family: 'Metrophobic', sans-serif;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.links {
	margin-left: -20px;
}

.links > span {
	display: inline-block;
	margin: 20px;
}