html {
	min-height: 100%;
}

body {
	font-family: 'Metrophobic', sans-serif;
	margin: 0;
	background: url(/api/background) no-repeat center center fixed;
	background-size: 100%;
	background-size: cover;
}

.bg-cover {
	padding: 2px 20px 160px;
	background: linear-gradient(to bottom, rgba(226,226,226,0.85) 0%, rgba(226,226,226,0.85) 40%,rgba(226,226,226,0) 100%);
}

h1, h2, h3, h4, h5, h6,
input {
	font-family: 'Alegreya Sans SC', sans-serif;
}

a {
	color: #CE35DE;
	text-decoration: none;
}

a:visited,
a:hover,
a:active {
	color: #35ADDE;
}

.links {
	margin-left: -20px;
	position: relative;
	width: 500px;
	height: 220px;
}

.hex-shell {
	display: inline-block;
	margin: 20px;
	position: absolute;
	width: 94px;
	height: 104px;
	perspective: 1000px;
}

.hex-shell:hover {
	animation: 0.3s rotater forwards;
}

@keyframes rotater {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.hex-shell:nth-child(1) { /* github */
	top: 0px;
	left: 48px;
}

.hex-shell:nth-child(5) { /* g+ */
	top: 0px;
	left: 244px;
}

.hex-shell:nth-child(7) { /* 500px */
	top: 0px;
	left: 146px;
}

.hex-shell:nth-child(8) { /* email */
	top: 0px;
	left: 342px;
}

.hex-shell:nth-child(2) { /* linkedin */
	top: 74px;
	left: 0px;
}

.hex-shell:nth-child(3) { /* wordpress */
	top: 74px;
	left: 196px;
}

.hex-shell:nth-child(4) { /* twitter */
	top: 74px;
	left: 98px;
}

.hex-shell:nth-child(6) { /* goodreads */
	top: 74px;
	left: 294px;
}

.hex {
	width: 94px;
	height: 104px;
	position: absolute;
	top: 0;
	left: 0;
}

.hex-inner {
	width: 84px;
	height: 94px;
	position: absolute;
  left: 5px;
  top: 5px;
}

.hex-center {
	width: 84px;
	height: 94px;
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*
.hex {
	width: 94px;
	height: 104px;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	clip-path: polygon(
		50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%,
		50% 0%,
		52% 5%, 5% 27%, 5% 73%, 50% 95%, 95% 73%, 95% 27%,
		50% 5%
	);
}

.hex.inner {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	width: 84px;
	height: 94px;
	top: 5px;
	left: 5px;
	background-color: rgba(100, 100, 100, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}
*/
