html {
	min-height: 100%;
}

body {
	font-family: 'Metrophobic', sans-serif;
	padding: 20px;
	background: url(/api/background) no-repeat center center fixed;
	background-size: 100%;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6,
input {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.links {
	margin-left: -20px;
}

.links > span {
	display: inline-block;
	margin: 20px;
}

.commandLine {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.bg-cover {
	width: 100%;
	height: 290px;
	top: 0;
	left: 0;
	position: fixed;
	background: linear-gradient(to bottom, rgba(226,226,226,0.9) 0%, rgba(226,226,226,0.3) 80%,rgba(125,185,232,0) 100%);
	z-index: -1;
}