html {
	min-height: 100%;
}

body {
	font-family: 'Metrophobic', sans-serif;
	margin: 0;
	background: url(/api/background) no-repeat center center fixed;
	background-size: 100%;
	background-size: cover;
	overflow-y: hidden;
}

.bg-cover {
	background: linear-gradient(to bottom, rgba(226,226,226,0.85) 0%, rgba(226,226,226,0.85) 40%,rgba(226,226,226,0) 100%);
	height: 400px;
	width: 100%;
	position: absolute;
	top: 0;
}

.content {
	padding: 2px 20px 160px;
	animation: deblur 1s linear forwards;
	filter: blur(20px);
}

@keyframes deblur {
	100% {
		filter: blur(0);
	}
}

h1, h2, h3, h4, h5, h6,
input {
	font-family: 'Alegreya Sans SC', sans-serif;
}

a {
	color: #CE35DE;
	text-decoration: none;
}

a:visited,
a:hover,
a:active {
	color: #35ADDE;
}

.links {
	margin-left: -20px;
	position: relative;
	width: 500px;
	height: 220px;
}

.hex {
	width: 94px;
	height: 104px;
	position: absolute;
	top: 0;
	left: 0;
}

.hex-inner {
	width: 84px;
	height: 94px;
	position: absolute;
	left: 5px;
	top: 5px;
}

.hex-shell {
	display: inline-block;
	margin: 20px;
	position: absolute;
	width: 94px;
	height: 96px;
	transform-origin: bottom center;
}

.hex-shell:nth-child(1) { /* github */
	top: 0px;
	left: 146px;
}

.hex-shell:nth-child(5) { /* instagram */
	top: 74px;
	left: 0px;
}

.hex-shell:nth-child(7) { /* 500px */
	top: 74px;
	left: 98px;
}

.hex-shell:nth-child(8) { /* email */
	top: 148px;
	left: 244px;
}

.hex-shell:nth-child(2) { /* linkedin */
top: 0px;
left: 244px;
}

.hex-shell:nth-child(3) { /* wordpress */
	top: 0px;
	left: 48px;
}

.hex-shell:nth-child(4) { /* twitter */
	top: 74px;
	left: 196px;
}

.hex-shell:nth-child(6) { /* goodreads */
	top: 148px;
	left: 146px;
}

.hex-shell:nth-child(9) { /* sfaqi */
	top: 148px;
	left: 48px;
}

.hex-center {
	width: 84px;
	height: 94px;
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
